<md-dialog class="md-dialog-fullscreen">
    <md-dialog-content class="md-padding">
        <md-card>
            <md-card-header>
                <md-card-header-text class="md-title">
                    {{cake.name}}
                    <span class="md-subhead md-padding"> {{cake.comment}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-xl"><img src="{{cake.imageUrl}}" /></div>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-secondary">Close</md-button>
    </md-dialog-actions>
</md-dialog>